# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build / reports
dist/
build/
coverage.xml
htmlcov/

# Data (mantém .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep

# Databases / artifacts locais
pp_platform.db
*.sqlite
*.parquet

# Streamlit
.streamlit/
